<template>
  <div class="chat-app h-100">
    <Profile ref="modalProfile" :user="user" />
    <ContactsList
      :contacts="contacts"
      @selected="startConversationWith"
      :selected="selectedContact"
      @deleteChat="deleteConversation"
      @sendFile="saveNewMessage"
    />
    <Conversation
      @openProfile="openProfile"
      :contact="selectedContact"
      :messages="messagesWithFixedTime"
      @new="saveNewMessage"
      :user="user"
    />
  </div>
</template>

<script>
  import Conversation from "./Conversation";
  import ContactsList from "./ContactsList";
  import Profile from "./profile/Profile";
  import moment from "moment"; // To address messages time.

  export default {
    props: {
      user:{
        type: Object,
        required: true
      },
      contact:{
        type: Object,
        default: null
      }
    },
    data() {
      return {
        selectedContact: null,
        messages: [],
        contacts: [],
        modalOpen: true
      };
    },
    mounted() {
			// Pusher.logToConsole = true;
      Echo.private(`messages.${this.user.id}`)
        .listen("NewMessage", e => {
					this.handleIncoming(e.message);
        });
      // Get Contacts.
      axios.get("/contacts")
      .then(response => {
        this.contacts = response.data; 
        if(this.contact){
          this.startConversationWith(this.contact);
        }
      })
      .catch(err => console.log(err));
    },
    methods: {
      startConversationWith(contact) {
        this.updateUnreadCount(contact, true);
        axios.get(`/conversation/${contact.id}`).then(response => {
          this.messages = response.data;
          this.selectedContact = contact;
        });
      },
      // Send Message
      saveNewMessage(message) {
        this.message.push(message);
      },
      // Gets the incoming message and add it to the chat list.
      handleIncoming(message) {
        if (this.selectedContact && message.from == this.selectedContact.id) {
          this.saveNewMessage(message);
          return;
        }
        this.updateUnreadCount(message.from_contact, false);
      },
      // Updates the unread count once you open the chat.
      updateUnreadCount(contact, reset) {
        this.contacts.map(single => {
          if (single.id !== contact.id) {
            return single;
          }
          if (reset) single.unread = 0;
          else single.unread += 1;
          return single;
        });
      },
      // Deletes the chat of an specific contact.
      deleteConversation(contact) {
        axios
          .post("/conversation/delete", { contactId: contact.id })
          .then(res => {
            this.messages = [];
          })
          .catch(err => console.log(err));
      },
      //Open profile modal.
      openProfile() {
        this.modalOpen = true;
      },
      //Sends Files
      sendFiles(data){
          this.messages.push(data)
      }
    },
    computed: {
      messagesWithFixedTime: function(){
        this.messages = this.messages && this.messages.map(message => {
        const serverTime = new Date(message.created_at);
        const localTime = serverTime.getTimezoneOffset() * 60000;
          return {
            ...message,
            time: moment(new Date(serverTime - localTime).getTime()).fromNow()
          }
        });
        return this.messages;
      },
    },
    components: {
      Conversation,
      ContactsList,
      Profile
    }
  };
</script>

<style>
  .chat-app {
    display: flex;
  }
</style>