<template>
  <div class="contacts-list">
    <SendImage ref="sendImage" :contact="selected" @sendFile="sendFile" />
    <div class="top">
      <a href="/">
        <i class="fa fa-home"></i>
      </a>
      <span
        data-toggle="tooltip"
        data-placement="bottom"
        title="Delete Conversation"
        v-if="selected"
        @click="deleteConversation"
      >
        <i class="fa fa-trash mr-3"></i>
      </span>
    </div>
    <ul class="list m-0" ref="contactList">
      <li
        v-for="contact in sortedContacts"
        :key="contact.id"
        @click="selectContact(contact)"
        :class="{'selected': selected && contact.id == selected.id }"
      >
        <div class="avatar">
          <img :src="contact.profile_image" :alt="contact.name" />
          <span class="unread" v-if="contact.unread">{{ contact.unread }}</span>
        </div>
        <div class="contact">
          <p class="name">{{ contact.name }}</p>
          <p class="email">{{ contact.email }}</p>
        </div>
      </li>
    </ul>
    <div class="bottom-bar">
      <i v-if="selected" class="fa fa-paperclip" @click="openModal"></i>
    </div>
  </div>
</template>

<script>
  import SendImage from './send-image/SendImage';

  export default {
    props: {
      selected: {
        type: Object,
      },
      contacts: {
        type: Array,
        default: []
      }
    },
    data() {
      return {
        
      };
    },
    methods: {
      // Sends emitter for select the contact.
      selectContact(contact) {
        this.$emit("selected", contact);
      },
      // Sends emitter for deleting the chat.
      deleteConversation(e) {
        e.preventDefault();
        this.$emit("deleteChat", this.selected);
      },
      // Open Send Image modal.
      openModal(){
        this.$refs.sendImage.modalShow = !this.$refs.sendImage.modalShow;
      },
      sendFile(data){
        this.$emit('sendFile', data)
      }
    },
    computed: {
      sortedContacts() {
        return _.sortBy(this.contacts, [
          contact => {
            if (this.selected && contact.id == this.selected.id) {
              return Infinity;
            }
            return contact.unread;
          }
        ]).reverse();
      }
    },
    components:{
      SendImage
    },
    watch:{
      selected(selected){
        this.$refs.contactList.scrollTo({
          top: 0,
          behavior:'smooth'
        });
      }
    }
  };
</script>
<style lang="scss">
  @import "../../sass/variables";
  .contacts-list {
    max-height: 100%;
    background: $primary-color;
    border-right: 1px solid $low-color;
    flex: 1;
    .top {
      height: 64px;
      display: flex;
      padding: 16px;
      justify-content: space-between;
      i {
        flex-shrink: 1;
        align-self: center;
        color: $low-color;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    ul.list {
      overflow-y: scroll;
      list-style-type: none;
      padding: 0;
      background: $light-color;
      height: calc(100% - 64px - 74px);
      border-bottom: 1px solid $low-color;
      li {
        display: flex;
        padding: 2px;
        border-bottom: 1px solid $primary-color;
        height: 68px;
        position: relative;
        cursor: pointer;
        .avatar {
          flex: 1;
          display: flex;
          align-items: center;
          position: relative;
          span.unread {
            background: $yellow-color;
            color: $primary-color;
            position: absolute;
            left: 4px;
            top: 4px;
            display: flex;
            font-weight: 700;
            min-width: 20px;
            justify-content: center;
            align-items: center;
            line-height: 20px;
            font-size: 12px;
            padding: 0 4px;
            border-radius: 50%;
          }
          img {
            width: 45px;
            border-radius: 50%;
            margin: 0 auto;
          }
        }
        .contact {
          color: $primary-color;
          flex: 3;
          font-size: 0.8rem;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            margin: 0;
            &.name {
              font-weight: bold;
            }
          }
        }
        &.selected {
          background: $low-color;
        }
      }
    }
    .bottom-bar {
      width: 100%;
      height: 72px;
      padding: 0 1.5em;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      i {
        flex-shrink: 1;
        font-size: 2rem;
        color: $low-color;
        cursor: pointer;
      }
    }
  }
</style>