<template>
  <div class="conversation">
    <Navigation :user="user" @openProfile="openModal" :contact="contact" :isTyping="isTyping"/>
    <MessagesFeed :contact="contact" :messages="messages" />
    <MessageComposer @send="sendMessage" @writing="writingMessage"/>
  </div>
</template>

<script>
  import MessageComposer from "./MessageComposer";
  import MessagesFeed from "./MessagesFeed";
  import Navigation from './Navigation';

  export default {
    props: {
      contact: {
        type: Object,
        default: null
      },
      messages: {
        type: Array,
        default: []
      },
      user: {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        isTyping:false
      }
    },
    mounted(){
      Echo.private(`messages.${this.user.id}`)
      .listen('WritingMessage', e => {
        if (e.isTyping) return this.isTyping = true;
        this.isTyping = false;
      })
    },
    methods: {
      sendMessage(text) {
        if(!this.contact) {
          return;
        }
        axios.post('/conversation/send', {
          contact_id: this.contact.id,
          text: text
        }).then(response => {
          this.$emit('new', response.data);
        })
      },
      writingMessage(boolean){
        let writing = setTimeout(() => {
            axios.post('/conversation/writing', {contact_id: this.contact.id, isTyping:true});
          },100); 
        let stopWriting = setTimeout(() => {
          axios.post('/conversation/writing', {contact_id: this.contact.id, isTyping:false})
        }, 300)
        if(!this.contact) return;
        if(this.isTyping && boolean == 'false'){
          stopWriting;
          clearTimeout(writing);
        }
        if(!this.isTyping && boolean == 'true'){
          writing;
          clearTimeout(stopWriting);
        }
      },
      openModal(){
        this.$parent.$refs.modalProfile.modalShow = !this.$parent.$refs.modalProfile.modalShow;
      }

    },
    components:{
      MessagesFeed,
      MessageComposer,
      Navigation
    }
  };
</script>
<style>
.conversation{
  height: 100%;
  flex:4;
  position:relative;
}
h1{
  font-size: 20px;
  padding: 10px;
  margin:0;
  border-bottom: 1px dashed lightgrey;
}
</style>