<template>
  <div class="feed" ref="feed">
    <ul v-if="contact" class="mb-0 pb-1">
      <li
        v-for="message in messages"
        :class="`message${message.to == contact.id ? ' sent' : ' received'}`"
        :key="message.id"
      >
        <div class="text">
          <div v-if="message.uploads && message.uploads.length" class="d-flex flex-column">
            <div
              v-for="upload in message.uploads"
              :key="upload.id"
              :class="`file d-flex flex-column ${message.to !== contact.id ? 'align-items-end' : 'align-items-start'}`"
            >
              <div :class="`file-wrapper flex-1 mb-3 d-flex align-items-end ${message.to !== contact.id ? 'flex-row-reverse' : 'flex-row'}`">
                <img
                  v-if="upload.file_name.split('.').pop().match(/^(gif|jpe?g|png)$/gi)"
                  :class="`file-img ${message.to == contact.id ? 'float-left' : 'float-right'} `"
                  :src="upload.file_url"
                  alt
                />
                <i v-if="message.from == contact.id" 
                class="fa fa-download text-dark fa-2x mx-2"
                @click="downloadFile(upload)"
                ></i>
              </div>
              <i
                v-if="!upload.file_url.split('.').pop().match(/(gif|jpe?g|png)$/gi)"
                class="fa fa-file fa-4x"
              ></i>
              <small class="p-0 ml-2 mb-3">{{ upload.file_name }}</small>
            </div>
          </div>
          <div v-if="message.text">{{ message.text }}</div>
          <small class="time">{{ message.time }}</small>
          <div class="triangle"></div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    props: {
      contact: {
        type: Object
      },
      messages: {
        type: Array,
        required: true
      }
    },
    methods: {
      scrollToBottom() {
        setTimeout(() => {
          this.$refs.feed.scrollTop =
            this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
        }, 50);
      },
      downloadFile(file){
        axios.post('conversation/download-file', 
        {
          file: file,
          responseType: 'arraybuffer'
          })
        .then(res => {
          let link = document.createElement('a');
          link.href = res.data;
          link.download = file.file_name;
          link.click();
          })
        .catch(err => console.log(err));
      }
    },
    watch: {
      messages(messages) {
        this.scrollToBottom();
      }
    }
  };
</script>

<style lang="scss">
  @import "../../sass/variables";
  .feed {
    background: $low-color;
    height: calc(100% - 64px - 74px);
    overflow-y: auto;
  }
  ul {
    list-style-type: none;
    padding: 0.5em 1.5em;
    padding-bottom: 0;
    li.message {
      margin: 1em 0;
      width: 100%;
      border: none;
      display: flex;
      &.received {
        text-align: left;
        .text {
          background: $yellow-color;
          float: left;
          border-radius: 0px 8px 8px 8px;
          box-shadow: -3px 5px 6px rgba(0, 0, 0, 0.4);
          position: relative;
          .file{
            .file-wrapper{
              i{
                &:hover{
                  opacity:.8;
                }
              }
            }
          }
          .time {
            float: right;
            color: $dark-grey;
          }
          .triangle {
            position: absolute;
            top: 0;
            left: -10px;
            height: 0px;
            width: 0px;
            border-width: 16px 12px 12px 12px;
            border-style: solid;
            border-top-color: $yellow-color;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
        }
      }
      &.sent {
        text-align: right;
        justify-content: flex-end;
        .text {
          background: $light-color;
          float: right;
          border-radius: 8px 0px 8px 8px;
          box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.4);
          position: relative;
          .time {
            color: $dark-grey;
          }
          .triangle {
            position: absolute;
            top: 0;
            right: -10px;
            height: 0px;
            width: 0px;
            border-width: 16px 12px 12px 12px;
            border-style: solid;
            border-top-color: $light-color;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
        }
      }
    }
    .text {
      max-width: 50%;
      padding: 1em;
      .file-img {
        max-width: 50%;
      }
      i{
        cursor: pointer;
        
      }
    }
    .time {
      color: $secondary-color;
    }
  }
</style>