<template>
  <div class="composer">
    <textarea v-model="message" @keydown.enter="send" placeholder="Message..." @keyup="writingMessage"></textarea>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        message: "",
        writing: false
      };
    },
    methods: {
      send(e){
        e.preventDefault();
        if (this.message == "") {
          return;
        }
        this.$emit('send', this.message);
        this.$emit('writing', 'false');
        this.message = "";
      },
      writingMessage(e){
        e.preventDefault();
        if(this.message != '' && !this.writing){
          this.$emit('writing', 'true');
          this.writing = true;
        }
        if(this.message == '' && this.writing ){
          this.$emit('writing', 'false');
          this.writing = false;
        }
      }
    }
  };
</script>
 
<style lang="scss">
@import '../../sass/variables';
.composer{
  // height: calc(20% - 64px);
  height: 64px;
  justify-content: center;
  background: $primary-color;
  display:flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 100%;
  padding: 6px 1em;
  textarea{
    width: 100%;
    height: 90%;
    flex: 1;
    align-self: center;
    resize: none;
    border-radius: 6px;
    border: 1px solid lightgrey;
    padding: 6px;
     
  }
}
</style>