<template>
  <nav class="navbar navbar-expand-md navbar-light">
    <!-- <a class="navbar-brand" href="/">Chat App</a> -->
    <div class="navbar-text mr-auto p-0 text-white" v-if="contact">
      <p class="mb-0">{{ contact.name }}</p>
      <small  v-if="isTyping">Typing...</small>
    </div>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="hidden"
    >
      <i class="fa fa-bars fa-2x text-white"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Right Side Of Navbar -->
      <ul class="navbar-nav ml-auto p-0">
        <!-- Authentication Links -->

        <li class="nav-item">
          <img class="avatar" :src=" user.profile_image " :alt="user.name + 'image'" />

          <a class="nav-link" role="button" @click="openProfile">{{ user.name }}</a>
          <div class="nav-link ml-2" @click="logoutUser">
            <i class="fa fa-sign-out"></i>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
  export default {
    props: {
      user: {
        type: Object,
        required: true
      },
      contact: {
        type: Object,
        default: null
      },
      isTyping: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      logoutUser() {
        axios
          .post("/logout", { user: this.user })
          .then(res => {
            window.location.href = "/login";
          })
          .catch(err => console.log(err));
      },
      openProfile(e) {
        e.preventDefault();
        this.$emit("openProfile");
      }
    }
  };
</script>

<style lang="scss">
  @import "../../sass/variables";
  a {
    color: #fff;
  }
  .navbar-toggler {
    &:focus,
    &:active {
      box-shadow: none !important;
      outline: none !important;
    }
    i {
      font-size: 1.5rem;
    }
  }
  nav {
    min-height: 64px;
    height: 64px;
    background: $primary-color;
    .navbar-brand {
      color: #fff !important;
    }
    .navbar-collapse {
      height: 100%;
      .navbar-nav {
        height: 100%;
        li.nav-item {
          height: 100%;
          border: none;
          display: flex;
          .avatar {
            align-self: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
          .nav-link {
            color: #fff !important;
            height: 40px !important;
            align-self: center;
            background: transparent;
            cursor: pointer;
            &:hover {
              background: transparent;
            }
            i {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .navbar-nav {
      background: $secondary-color;
      padding: 12px 16px;
    }
  }
</style>