<template>
  <div>
    <b-modal id="bv-modal-example" v-model="modalShow" hide-footer hide-header >
      <div class="modal-header">
        <b-button pill class="float-right btn-close" @click="closeModal">
        <i class="fa fa-close"></i>
      </b-button>
      </div>
      
      <b-container>
        
        <form class="form-group row justify-content-center">
          <div class="col-10 custom-file">
            <div v-for="file in files" :key="file.lastModified" class="d-flex justify-content-center mt-3">
              <i class="fa fa-file fa-2x mr-2"></i>
              <p >{{ file.name }}</p>
            </div>
            <h3 v-if="!files.length" class="dropzone-title">Drop your files here</h3>
            <input class="custom-file-input" type="file" multiple  @change="onFileChange"/>
          </div>
          <div class="col-10 mt-3">
            <textarea class="form-control" 
            type="text" placeholder="Write a message..." 
            @keydown.enter="sendFiles"
            v-model="message"
            ></textarea>
          </div>
          <div class="col-10 ml-auto mr-auto">
            <b-button pill block class="mt-4" @click="sendFiles">Send File</b-button>
            <p class="alert text-center mb-0 text-white" v-if="alert">{{ alert }}</p>
          </div>

        </form>
      </b-container>

      
    </b-modal>
  </div>
</template>

<script>
  import { BModal, BButton, BContainer } from "bootstrap-vue";

  export default {
    props: {
      contact:{
        type: Object,
        default: null
      }
    },
    data() {
      return {
        modalShow: false,
        files: [],
        message:'',
        alert: null
      };
    },
    methods:{
      closeModal(e){
        e.preventDefault();
        this.modalShow = false;
        this.alert = null;
      },
      onFileChange(e){
        e.preventDefault();
        this.files.push(...e.target.files || e.dataTransfer.files);
      },
      // Send Files.
      sendFiles(e){
        e.preventDefault();
        let formData = new FormData();
        formData.append('contact_id', this.contact.id);
        formData.append('text', this.message || '');
        $.each(this.files, (key, file) => {
          formData.append('files[]', file);
        });
        if(this.files.length) {
          axios.post('/conversation/send-file', formData, {
            headers:{
              'Content-Type':'multipart/form-data'
            }
          })
          .then(({data}) => {
            this.modalShow = false;
            this.$emit('sendFile', data);
          })
          .catch(err => console.log(err));
        } else {
          this.alert = 'You have no file selected.'
        }
      }
    },
    components: {
      BModal,
      BButton,
      BContainer
    }
  };
</script>

<style lang="scss">
  @import "../../../sass/variables";
  .modal-content {
    border-radius: 16px;
    background: $primary-color;
    border: none;
    color: $low-color;
    position:relative;
    
    .modal-body {
      .modal-header{
        border-bottom: none;
        margin-bottom: 1em;
        .btn-close {
        &:focus{
            box-shadow: none;
          }
        }
      }
      .container{
        .form-group{
          .custom-file{
            border: 3px dashed $low-color !important;
            height: 200px;
            border-radius: 16px;
            position: relative;
            .dropzone-title{
              position: absolute;
              top: 50%;
              left: 50%;
              width: 80%;
              text-align: center;
              transform: translate(-50%,-50%);
              color: $low-color;
            }
            .custom-file-input{
              position: absolute;
              top:0;
              left: 0;
              height: 200px;
              width: 100%;
            }
          }
        }
      }
    }
    .btn {
      color: $primary-color !important;
      background: $low-color;
      border-radius: 50%;
      &:hover{
        background: $secondary-color;
      }
    }
  }
  .modal-backdrop {
    opacity: 0.7;
  }
</style>