$primary-color: #4A5080;
$secondary-color: #9DA6C9;
$low-color: #C7D2FF;
$light-color: #99ADFF;
$dark-color: #8189A6;
$yellow-color: #fffcac;
$dark-grey: #4d4d4d;

// Body
$body-bg: #6565b8;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #ffffff;

// Navbar
$navbar-default-bg: #5858a2;
// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

