
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import 'node_modules/font-awesome/scss/font-awesome.scss';

html, body  {
  height: 100vh;
  overflow: hidden;
  input:focus {
    border-color: $secondary-color !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}

.back-link {
  position: absolute;
  top: 1em;
  left: 1em;
  a{
    color: #fff;
    &:hover{
      text-decoration: none;
      color: $light-color;
    }
  }
}

#content {
  height: 100%;
  background: $primary-color;
}

.navbar-laravel {
  flex-shrink: 1;
  background-color: $primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  height: 62px;
}

.card{
  border-radius: 16px;
  color: $primary-color !important;
  .card-body {
    padding: 0 !important;
    
    a{
      color: $primary-color !important;
      &:hover {
        color: $secondary-color !important;
      }
    }
  }
}

.btn-primary{
  color: #fff;
  background: $primary-color;
  border: none;
  &:hover{
    background: $secondary-color;
  }
}

.text-primary{
  color: $primary-color;
}











