<template>
  <div>
    <b-modal id="bv-modal-example" v-model="modalShow" hide-footer hide-header>
      <b-button pill class="float-right btn-close" @click="closeModal">
        <i class="fa fa-close"></i>
      </b-button>
      <b-container>
        <b-row class="text-center">
          <b-col>
            <div class="ml-auto mr-auto">
              <img :src="user.profile_image" :alt="user.name + 'image'" />
            </div>
            <p>{{ user.name }}</p>
          </b-col>
        </b-row>
        <form action class="form-group row justify-content-center">
          <div class="col-10">
            <label for="name">Name:</label>
            <input class="form-control" type="text" id="name" v-model="user.name" />
          </div>
          <div class="col-10 mt-3">
            <label for="email">Email:</label>
            <input class="form-control" type="text" id="email" v-model="user.email" />
          </div>
        </form>
      </b-container>
      <b-button pill block class="mt-4">Save Changes</b-button>
    </b-modal>
  </div>
</template>

<script>
  import { BModal, BButton, BContainer } from "bootstrap-vue";

  export default {
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        modalShow: false
      };
    },
    methods:{
      closeModal(e){
        e.preventDefault();
        this.modalShow = false
      }
    },
    components: {
      BModal,
      BButton,
      BContainer
    }
  };
</script>

<style lang="scss">
  @import "../../../sass/variables";
  .modal-content {
    border-radius: 16px;
    background: $primary-color;
    border: none;
    color: $low-color;
    position:relative;
    .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
      &:focus{
        box-shadow: none;
      }
    }
    .modal-body {
      img {
        border-radius: 50%;
      }
    }
    .btn {
      color: $primary-color !important;
      background: $low-color !important;
      border-radius: 50%;
    }
  }
  .modal-backdrop {
    opacity: 0.7;
  }
</style>